
@{
    ViewBag.Title = "PotwierdzenieZamowienia";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

<div style="margin-top:100px; text-align:center">
    Twoje zamowienie niedługo wyruszy w droge!
</div>
