@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<form class="form-inline" data-ajax="true" data-ajax-url="@Url.Action("_ProduktyList")" method="get" data-ajax-update="#ProduktyList">
    <input class="form-control mr-sm-2" type="search" id="search-filter" name="searchQuery"
           placeholder="Wyszukaj">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
</form>
<div class="container mt-4">
    <div class="row">
        @Html.Action("KategorieMenu")

        @Html.Partial("_ProduktyList")

    </div>
</div>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryandJqueryUI")

    <script>
        $(function () {

            var ajaxSubmit = function () {
                var $form = $(this);
                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };
                $.ajax(settings).done(function (result) {
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    $targetElement.replaceWith($newContent);
                    $newContent.effect("slide");
                });
                return false;
            };

            $("#search-form").submit(ajaxSubmit);
        });
    </script>
}
