
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container mt-4">
    <div class="row">
        @Html.Action("KategorieMenu")

        @Html.Partial("_ProduktyList")
    </div>
    </div>

